@font-face {
  font-family: 'ageras-punch-font';
  src:  url('fonts/ageras-punch-font.eot?fetcvx');
  src:  url('fonts/ageras-punch-font.eot?fetcvx#iefix') format('embedded-opentype'),
    url('fonts/ageras-punch-font.ttf?fetcvx') format('truetype'),
    url('fonts/ageras-punch-font.woff?fetcvx') format('woff'),
    url('fonts/ageras-punch-font.svg?fetcvx#ageras-punch-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ap-"], [class*=" ap-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ageras-punch-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ap-star:before {
  content: "\e903";
}
.ap-arrow:before {
  content: "\e902";
}
.ap-punch:before {
  content: "\e900";
}
.ap-task:before {
  content: "\e901";
}

